<!-- Import layout -->
<% layout('layouts/eventsBoilerplate') %> 

<!-- Import custom stylesheet -->
<link rel="stylesheet" href="/css/eventsShow.css">

<!-- Title section -->
<section class="title">
    <a href="/events" class="back" ><i class="fas fa-angle-double-left"></i> Back to all events</a>
    <h1><%= event.name %></h1>
</section>

<!-- Event info section -->
<section class="row">
    <!-- Event image column -->
    <div class="col-lg-6">
        <img class="event_pic" src="<%=event.img.url%>" alt="<%=event.img.alt%>">
    </div>
    <!-- Event info column -->
    <div class="col-lg-6">
        <p class="time">⏰ <%=event.time_display%></p>
        <p><%=event.description%></p>
        <!-- Only display speakers section if the event has speakers -->
        <% if(event.speakers.length) {%> 
            <div class="speakers">
                <p>Speakers:</p>
                <% for(let speaker of event.speakers) {%> 
                    <div class="speaker">
                        <div>
                            <img class="profile_pic" src="<%=speaker.profile_pic%>" alt="<%=speaker.name%>'s profile picture">
                        </div>
                        <div class="speaker_description">
                            <p><%=speaker.name%></p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, molestias. Aliquid, ipsa.</p>
                        </div>
                    </div>
                <% } %> 
            </div>
        <% } %> 
    </div>
</section>

<!-- URLs section -->
<section class="row urls">
    <!-- Only display private_url column if the event has a private_url -->
    <% if(event.private_url.length) {%> 
        <div class="col-lg-6">
            <p class="sub-title">Interested?</p>
            <!-- Only display private_url button if user is signed in -->
            <% if(!currentUser) {%> 
                <p>Log in as a hacker to attend this event!</p> <br>
                <a href="/login">Login</a>
            <% } else {%> 
                <p>Set a reminder and participate here!</p> <br>
                <a href="<%=event.private_url%>" target="_blank">Join Hopin</a>
            <% } %> 
        </div>
    <% } %>
    <!-- Only display public_url column if the event has a public_url -->
    <% if(event.public_url.length) {%>
        <div class="col public-wrapper">
            <div class="public">
                <!-- Extract the video id from the public_url so I can embed it as an iframe -->
                <iframe  src="https://www.youtube.com/embed/<%=event.public_url.slice(17)%> " frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div> 
        </div>
    <% } else { %> 
        <!-- Some borrowed illustrations as fillers -->
        <div class="col d-flex justify-content-center">
            <img class="filler" src="/imgs/flame-796.png" alt="" >
        </div>
    <% } %> 
</section>

<!-- Only display related_events section if the event has related events -->
<% if(related_events.length) {%> 
    <p class="sub-title others">Other events similar to this</p>
    <section class="event-list">
        <% for(let related_event of related_events) { %>
            <a href="/events/<%=related_event.id%>" class="event card">
                <img src="<%=related_event.img.url%>" class="card-img-top" alt="<%=related_event.img.alt%>">
                <div class="card-body">
                    <h5 class="card-title"><%=related_event.name%></h5>
                    <% if (related_event.speakers.length) {%> 
                        <h6 class="card-subtitle mb-2 text-muted">With <% related_event.speakers.forEach(function (speaker, index) { %><%=speaker.name%><%( index == related_event.speakers.length - 1 ) ? ',' : ''%><% }) %></h6>
                    <% } %> 
                    <p class="card-text"><%=related_event.time_display%></p>
                </div>
            </a>
        <% } %> 
    </section>
<% } %>
